
<div class='panel'>
  <div>
    <div class='left-stuff'>
      <h2><%= @product.name %></h2>
      <p class="lead"><%= number_to_currency @product.price %></p>
      <img class="single-item" src="<%= @product.images.first %>">
    </div>
  </div>
  <div class='right-stuff'>
    <h5><%= @product.description %></h5>
    <h6>Materials: <%= @product.materials %></h6>

    <br/>

    <%= form_tag add_product_to_cart_path(@product) do %>
        <%= select_tag "size", "<option value='small'>small</option><option value='medium'>medium</option><option value='large'>large</option>".html_safe %>
         <div><%= submit_tag 'Add to cart' %></div>
        
        <% end %>
  </div>
</div>