<!DOCTYPE html>
<html ng-app="StoreFront">
<head>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "application", main %>
  <%= csrf_meta_tags %>
  <title>Neon Running</title>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

 <div class="row">
  <div class="large-12 columns">

<%= render "layouts/navbar" %>

    <%= yield %>

        </div>
      </div>
    </div>


    <!-- Footer -->

    <footer class="row">
      <div class="large-12 columns"><hr />
        <div class="row">

          <div class="large-6 columns">
            <p>Copyright THE WORLD</p>
          </div>

          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>

    <!-- End Footer -->

  </div>
</div>
</body>
</html>